<IfModule rewrite_module>
RewriteBase /
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f    #Если файл не существует
RewriteCond %{REQUEST_FILENAME} !-d    #И если папка не существует
RewriteRule ^(.*)$ index.php?q=$1 [QSA,L]
</IfModule>